assets/css/style.css
assets/css/style.css.map
assets/scss/style.sass
assets/scss/components/
assets/scss/colors.sass
assets/scss/abstracts/_functions.scss
assets/scss/SASS.txt
# assets/scss/layouts/_forms.scss
assets/scss/layouts/_sidebar.scss
page2.html
assets/css/page2.css
assets/scss/page2.scss
assets/css/page2.css.map
assets/js/page2.js
assets/js/calculator.js

