$color_light :#fff;
$color_dark :#000;
$color_green :#40b781;
$color_lightgreen: #48d494;
$color_lightgray : #808080; 
$color_darkgray: #393c3c;
$color_lightblack : #121212;
$color_graytext: #867b7b;
$color_green2 : #69dd0a;
$color_green3 : #66a333;